@using Payroll.Helpers
@model Payroll.Models.m_User

@{
    ViewBag.Title = "Dashboard";
    Layout = ViewHelper.DefaultLayout;
    ViewBag.IsDashboardMenuActive = "active";
}

<div class="jumbotron">
    <h1>Hello, @Model.Username</h1>
    <p>Welcome to Payroll Web Apps. Click menu to look around.</p>
    <a href='@Url.Action("Logout", "Home")' class="btn btn-primary btn-lg" role="button">Logout</a>
</div>