@using GridMvc.Html
@using Payroll.Helpers
@model IEnumerable<Payroll.Models.UserForView>

@{
    ViewBag.Title = "User List";
    Layout = ViewHelper.DefaultLayout;
    ViewBag.IsUserMenuActive = "active";
}

@helper RenderDeleteButton(Payroll.Models.UserForView model)
{
    if (model.User.Category != "1")
    {
        <a href='@Url.Action("Delete", "User", new { id = model.User.Username })' class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    }
    else { }
}

<a href='@Url.Action("Create", "User")'
   class="btn btn-primary" role="button">
    <span class="glyphicon glyphicon-plus-sign"></span>
    Create New
</a>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add()
        .RenderValueAs(model =>
            @<a href='@Url.Action("Edit", "User", new {id = model.User.Username})' class="btn btn-primary" role="button">
                 <span class="glyphicon glyphicon-file"></span>
             </a>)
        .Sanitized(false).Encoded(false).Titled("Edit").SetWidth(20);
    columns.Add()
        .RenderValueAs(model => RenderDeleteButton(model))
        .Sanitized(false).Encoded(false).Titled("Delete").SetWidth(20);
    columns.Add(model => model.User.Username).Titled("Username").Sortable(true).SetWidth(120);
    columns.Add(model => model.UserCategoryDescList.First(cat => cat.Value == model.User.Category).Text).Titled("Category").Sortable(true).SetWidth(60);
}).WithPaging(50)