@using Payroll.Helpers
@model Payroll.Models.m_User
@{
    ViewBag.Title = "Login";
    Layout = ViewHelper.LoginLayout;
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    <div class="input-group">
        @Html.LabelFor(model => model.Username, "Username", new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
    </div>
    <div class="input-group">
        @Html.LabelFor(model => model.Password, "Password", new { @class = "control-label" })
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
    </div>
    <div class="input-group">
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Sign in</button>
    </div>
}